@font-face {
  font-family: 'Identity Plus'; font-weight: 400;
  src: url(/static/Identity_Plus/Identity_Plus_v2.ttf) format('truetype');
  font-display: swap;
}


* {box-sizing: border-box; font-family: Roboto; font-weight: inherit;}

.TOP{vertical-align:top;}

body {margin: 0; padding: 0; height:100vh; display:flex; flex-direction: column; font-weight: 300; }
brand {color: #000000; font-weight:500;}
brand span {color: #4292D3; margin-left:10px; font-weight:500;}
brand::before{
	content:'2';
	font-family: Identity Plus;
	color:#4292D3;
	font-size:160%;
	position:relative;
	top:0.05em;
	margin-right:0.2em;
}
separator{margin:5px 10px; height:1px; display:inline-block; width:100px; border-bottom:1px solid rgba(0,0,0,0.2);}
h1 {font-size:26px; font-weight:300; color:rgba(0,0,0,0.8); margin:0;}
h2 {font-size:20px; font-weight:400; color:rgba(0,0,0,0.8); margin:0;}
a {color:#4292D3; text-decoration: none;}
p {max-width: 600px;}
b {font-weight: 400;}

.W100{width:100%;}
.HIDDEN{display:none;}
.NOMARGIN{margin:0;}
.MARGIN_BELOW{margin:0px 0px 10px 0px;}
.ALIGN-R{text-align:right;}
.W500{width: 400px;}
.W600{width: 600px;}
.W300{max-width: 300px;}
.HINT{font-size:80%;}
.top-bar { background-color: #111518; color: #E0E0E0; padding: 10px; text-align: left; flex:0 0 auto; display:flex; justify-content: space-between; align-items: center;}
.top-bar * { display:inline-block; margin:0;}
.top-bar logo {font-size:18px; line-height:135%; font-weight: 400; background:url('/static/mtls-gw.svg'); background-repeat:no-repeat; background-size:contain; background-position: center left; padding:5px 30px 5px 75px; margin:5px 10px; border-right:1px solid #FFFFFF30; margin-right:25px;}
.top-bar h1 {
	color:#C0C0C0; font-size:28px; font-weight:300; width:100%;
	small {
		font-weight:400; color:#FFFFFF40; border-radius: 3px; margin-right:0.1em;
		super{font-size:66%; position: relative; top:-0.6em;}
	}
	asterix {font-size:130%; position:relative; top:0.25em;}
}
.top-bar p {text-align: right; flex-grow: 1; white-space: nowrap; font-weight: 400; color:#FFFFFF80; margin-right:10px;}
.top-bar logo span {color:#A0A0A0; font-size:120%; color: #4292D3;}
.top-bar brand {color: #FFFFFF; font-weight: 300;}
.top-bar brand span {color: #4292D3; margin-left:0.1em;}
.top-bar div { margin-left:20px; border-left:1px solid rgba(255, 255, 255, 0.1); padding: 5px 20px; }


.main-container { display: flex; flex:1 1 auto; align-items: stretch; min-height: 0;}
.menu { background-color: #f4f4f4; border-right:1px solid rgba(0,0,0,0.1); width: auto; height:auto; box-shadow:inset -3px 0px 10px -9px rgba(0,0,0,0.36); padding:0; flex:0 0 auto; display:flex; flex-direction: column;}
.menu ul { width:100%; list-style-type: none; box-shadow: initial; padding: 0; font-size:16px; font-weight: 400; margin-top:0px;}
.menu ul.main {flex-grow: 1; border-bottom:1px solid #00000010;}
.menu ul li{ width:100%; box-shadow: initial; margin-left:0px; }
.menu ul li p { width:100%; display:inline-block; margin: 0 0; background:rgba(0,0,0,0.05); border-right:solid 5px #4292D3; white-space: nowrap; padding: 0px 20px 0px 5px;}
.menu ul li a { width:100%; display:inline-block; margin: 0 0; text-decoration: none; color: #333; border:none; background:none; border-right:solid 5px rgba(0,0,0,0); white-space: nowrap; padding: 0px 20px 0px 5px;}
fa{min-width:48px; width:48px; text-align:center; padding: 15px 10px 15px 15px;}

.menu table {background:#00000010; margin-bottom:10px; border-bottom:1px solid #00000010; border-spacing: 0; border-collapse: collapse;}
.menu table th {padding:10px 0px 5px 5px;}
.menu table td {padding:10px 0px 5px 0px;}
.menu table th fa {padding: 15px 5px 15px 15px; min-width:43px; width:43px;}

.edit-section {overflow-y:scroll; min-height: 0; flex-grow: 1;}

.content { padding: 40px; display:flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-content: flex-start; gap: 20px 20px; flex:1 1 auto; flex-grow: 1;}
.content h2 {padding:10px 20px; background:#00000010; border-bottom:1px solid #00000010; color:#707070; font-size:18px;}
.content h2 fa {padding:0; width:auto; min-width:auto; margin-right:10px;}
.content div { flex-grow: 1; min-width:300px; background:rgba(0,0,0, 0.01); border:1px solid rgba(0,0,0, 0.1); border-radius: 5px; padding:0px 0px 10px 0px;}
.content div table {vertical-align: middle; text-align: left; font-weight: 300;}
.content div table td, .content div table th {border-top: 1px dotted rgba(0,0,0,0.1); padding:10px 15px 10px 0; vertical-align: middle; text-align: left; }
.content div table tr.first td, .content div table tr.first th {border-top: 0px; }
.content div table th.hint {border:0; padding-top:0px;}
.content div table th.hint p {opacity:0.7; margin-top:0;}
.content div table th {font-weight: 500; color:#909090;}
.content div table th.TOP {vertical-align: top;}
.content div table td.r, .content div table th.r {text-align: right;}
.content div table th label {margin:10px 0px; clear:both; color:#303030A0; font-weight: 400; white-space:nowrap;}
.content div table th p {margin:10px 0px; clear:both; color:#000000; font-size:80%; font-weight: 300;}
.content div table th p.NOMARGIN {margin:0px;}
.content div table th div.holder {clear:both; min-height: auto; margin-top:5px; padding:20px;}
.content div.spacer {background:#00000000; padding:10px 20px; border:0; min-height: auto; overflow: hidden;}
.content div.log-history{
	width:100%;
	a.submit{margin:20px 0px 0px 0px;}
	table {
		width:100%;
		th, td {
			border-top:1px dashed #30303040; padding:5px 10px; 
			p{margin-bottom:10px; font-size:100%; color:#808080; font-weight: 500;}
			input[type="checkbox"] {margin: 5px 5px 10px 0px;}
		}

		td.compact{width:0px;}
		
	}
}
.content pre{
	font-family: 'Roboto Mono';
	font-size:12px;
	color:#303030;
	min-height:200px;
	margin:0
}

a.submit {font-weight: 400; font-size:16px; background:rgba(0,0,0,0.1); border:1px solid rgba(0,0,0,0.1);  border-radius:3px; color:#303030; padding:10px 15px; float:left; margin:0px 20px 0px 0px; cursor: pointer; text-decoration:none; white-space: nowrap;}
a.submit:hover {background:rgba(0,0,0,0.08);}
a.submit:active {background:rgba(0,0,0,0.2);}
a.submit span::before {margin-right:8px; font-family:'Font Awesome 6 Free'}
a.submit span.nomargin::before {margin-right:0px; font-family:'Font Awesome 6 Free'}

.top-bar div a.submit {background:rgba(255,255,255,0.1); border:1px solid rgba(255,255,255,0.2); color:#C0C0C0;}
.top-bar div a.submit:hover {background:rgba(255,255,255,0.15);}
.top-bar div a.submit:active {background:rgba(255,255,255,0.05);}

form.all-in-one {border:1px solid rgba(0,0,0,0.1); padding:2px; display:flex; border-radius:3px; }
form.all-in-one a {font-weight: 400; font-size:16px; background:rgba(0,0,0,0.1); border:1px solid rgba(0,0,0,0.1); color:#303030; padding:8px 13px; float:left; cursor: pointer; text-decoration:none; margin:0;}
form.all-in-one a:hover {background:rgba(0,0,0,0.08);}
form.all-in-one a:active {background:rgba(0,0,0,0.2);}

input[type="text"] {border:1px solid rgba(0,0,0,0.1); font-size:16px; padding:8px 15px; border-radius:3px; }
input[type="text"]:focus {outline:none; background:rgba(255, 255, 200, 0.1);}
input[type="number"] {border:1px solid rgba(0,0,0,0.1); font-size:16px; padding:8px 15px; border-radius:3px; }
input[type="number"]:focus {outline:none; background:rgba(255, 255, 200, 0.1);}
input[type="checkbox"] {margin: 10px 10px 10px 0px;}
.holder input[type="checkbox"] {margin: 0px 10px 15px 0px;}
input[type="text"].path::before{content: '/'; padding:10px;}
textarea {border:1px solid rgba(0,0,0,0.1); font-size:16px; padding:8px 15px; min-width:600px; min-height: 150px; margin:5px 0px; border-radius:3px; font-weight: 300; color:#000000A0; font-family: 'Roboto Mono';}
textarea:focus {outline:none; background:rgba(255, 255, 200, 0.1);}

form.all-in-one input[type="text"] {border:0; width:100%;}
p.error-msg {color:rgba(155, 80, 60, 0.8); margin-left:3px; font-size:90%;}
p.expiration{display:block; margin:0; padding:5px; text-align:center; border:1px solid rgba(0,0,0,0.2); font-size:80%; font-weight: 500; color:#00000080;}
p.ok-msg {color:rgba(80, 155, 60, 0.8); margin-left:3px;}
p.warning {border:1px solid #E0B060; background: #F0E080; border-radius:3px; padding:10px 20px 10px 20px; color:#404040;}
p.warning span {color:#A08030; margin:0; padding:0;}
p.error {width:100%; max-width:initial; border:1px solid #d17e69; background: #ffcbbe; border-radius:3px; padding:10px 20px 10px 20px; color:#400000; }
p.error span {color:#9b471e; margin:0; padding:0;}
a:hover .fa-trash-can{color:#E04020;}
a:hover .fa-save, a:hover .fa-floppy-disk{color:#30A010;}
a:hover .fa-power-off{color:#E04020;}

select{
	color:#404040;
	font-size:inherit;
	padding:8px 12px;
	background:rgba(255, 255, 255, 0.8);
	border:1px solid rgba(0,0,0,0.15);
	margin:0;
	line-height:150%;
	padding-right:40px;
	background-color:rgba(255, 255, 255, 0.8);
}
select option{
	font-size:inherit;
	padding:0;
	border:0;
	margin:0;
}

select:focus{
    outline: none;
}

.dropdown__header{
	& .dropdown__categories, & .dropdown__menu {
		display: flex;	list-style: none;
		a{padding:13px 18px 13px 3px;}
	}
	* { padding: 0; margin: 0; }

	& .dropdown__categories{
		a.cat_menu{
			display:flex; justify-content: space-between; align-items: center; margin:0;
			.fa-angle-down{flex-grow: 1; text-align:right; padding: 9px 0px 7px 20px;}
		}

		li { 
			padding: 0px 6px; position: relative; 
			&:hover { background: #C0C0C0; }
		}

		& ul{
			display: block;position: absolute;background: #e5e5e5;top: 58px; height:0px;transition: all ease-out 0.2s; border-bottom:1px solid #00000010;
			left: 0; visibility:hidden; backdrop-filter: blur(10px); height:50vh;overflow-y: auto; opacity:0; padding-top:13px;
		}
	}
}
.menu table td.dropdown__header { background: #e5e5e5; min-width:300px; padding:0;}



