{{define "main"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTLS Web App</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <link href="/static/fontawesome-6.6/css/all.css" rel="stylesheet" />
	<link rel="icon" type="image/png" href="/static/mtls-gw-256.png" sizes="256x256" />
	<link rel="icon" type="image/png" href="/static/mtls-gw-128.png" sizes="128x128" />
	<link rel="icon" type="image/png" href="/static/mtls-gw-64.png" sizes="64x64" />
	<link rel="icon" type="image/png" href="/static/mtls-gw-32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/static/mtls-gw-24.png" sizes="24x24" />
	<link rel="icon" type="image/png" href="/static/mtls-gw-16.png" sizes="16x16" />
    <link rel="stylesheet" href="/static/style.css">
    <script>
        function post(action){
            document.getElementById("sync_submit_action").value = action;
            document.getElementById("sync_submit").submit();
        }

        function sync_post(form_name, action){
            var form = document.getElementById(form_name);

            /*
            Array.from(form.elements).forEach((input) => {
                console.log("->> " + input.name + " = " + input.value);
            });
            alert(form_name);
            */

            var input = document.createElement("input");
			input.type = "hidden";
			input.name = "action";
			input.value = action;
			form.appendChild(input);

            form.submit();
        }

        function context_post(context) {
            var form = document.getElementById("sync_submit");

            for (key in context) {
                if (key == '__url') form.action = context[key];
                else if (key == 'action') document.getElementById("sync_submit_action").value = context[key];
                else {
                    var input = document.createElement("input");
                    input.type = "hidden";
                    input.name = key;
                    input.value = context[key];
                    form.appendChild(input);
                }
            }

            form.submit();
        }

        function show_hide_menu(){
            popup = document.getElementById("dropdown__menu")

            if(popup.style.visibility === "visible"){
                popup.style.visibility = "hidden";
                popup.style.opacity = "0";
            }
            else {
                popup.style.visibility = "visible";
                popup.style.opacity = "1";
            }
        }

        window.addEventListener("click", function(){
            popup = document.getElementById("dropdown__menu")
            container = document.getElementById("dropdown__header")

            if(!container.contains(event.target) && popup.style.visibility === "visible"){
                popup.style.visibility = "hidden";
                popup.style.opacity = "0";
            }
        })
    </script>
</head>
<body>
    {{ template "header" . }}
    <div class="main-container">
        <aside class="menu">
            <table>
            <tr><td class="dropdown__header" id="dropdown__header">

                <ul class="dropdown__categories">
                    <li class="dropdown__category">
                    <a class="cat_menu" href="javascript:show_hide_menu()"><fa class="fa-solid fa-gear"></fa>{{ $.Domain }}<fa class="fa-solid fa-angle-down"></fa></a>
                    <ul id="dropdown__menu">
                        {{ range .DynamicPages }}
                            {{ if ne $.Domain . }}<li><a href="https://{{ . }}:{{ $.SRV_Port }}"><fa class="fa-solid fa-gear"></fa>{{ . }}</a></li>{{ end }}
                        {{ end }}
                    </ul>
                    </li>
                </ul>
            </td></tr>
            </table>
            <ul class="main">
                <li>{{ if eq .CurrentPage "Overview" }}<p><fa class="fa-solid fa-chart-simple"></fa>Overview</p>{{ else }}<a href="/"><fa class="fa-solid fa-chart-simple"></fa>Overview</a>{{ end }}</li>
                <li>{{ if eq .CurrentPage "Routes" }}<p><fa class="fa-solid fa-network-wired"></fa>Routes</p>{{ else }}<a href="/routes"><fa class="fa-solid fa-network-wired"></fa>Routes</a>{{ end }}</li>
                <li>{{ if eq .CurrentPage "Access Control" }}<p><fa class="fa-solid fa-lock"></fa>Access Control</p>{{ else }}<a href="/access-control"><fa class="fa-solid fa-lock"></fa>Access Control</a>{{ end }}</li>
                {{ if eq .Service.Mode "HTTP" }}
                    <li>{{ if eq .CurrentPage "HTTP Config" }}<p><fa class="fa-solid fa-link"></fa>HTTP Config</p>{{ else }}<a href="/http-config"><fa class="fa-solid fa-link"></fa>HTTP Config</a>{{ end }}</li>
                {{ end }}
 
                {{ if eq .Service.Mode "TCP" }}
                    <li>{{ if eq .CurrentPage "TCP Config" }}<p><fa class="fa-solid fa-plug"></fa>TCP Config</p>{{ else }}<a href="/tcp-config"><fa class="fa-solid fa-plug"></fa>TCP Config</a>{{ end }}</li>
                {{ end }}
            </ul>
            <ul>
                <li>{{ if eq .CurrentPage "Add Service Route" }}<p><fa class="fa-solid fa-circle-plus"></fa>New Service Perimeter</p>{{ else }}<a href="/add-service-route"><fa class="fa-solid fa-circle-plus"></fa>New Service Perimeter</a>{{ end }}</li>
                <li>{{ if eq .CurrentPage "Logs" }}<p><fa class="fa-solid fa-pencil"></fa>Logs</p>{{ else }} {{ if eq .CurrentPage "View Log" }}<a href="/logs"><fa class="fa-solid fa-arrow-left"></fa>All Logs</a>{{ else }}<a href="/logs"><fa class="fa-solid fa-pencil"></fa>Logs</a>{{ end }} {{ end }}</li>
                <li>{{ if eq .CurrentPage "Admin" }}<p><fa class="fa-solid fa-wrench"></fa>Admin</p>{{ else }}<a href="/admin"><fa class="fa-solid fa-wrench"></fa>Admin</a>{{ end }}</li>
            </ul>
        </aside>

        <section id="edit-section" class="edit-section">
            {{ if and (ne .PageError nil) (ne .PageError "") }}
            <p class="error"><span class="fa-solid fa-circle-exclamation"></span> {{ .PageError }}</p>
            {{ end }}
            <div class="content">
                {{ template "content" . }}
            </div>
        </section>
    </div>
    <form id="sync_submit" method="post" class="display:none"><input type="hidden" id="sync_submit_action" name="action" value=""></form>
</body>
</html>
{{end}}