{{ define "content" }}

    <div>
        <h2>mTLS Allowed Roles</h2>
        <div class="spacer">
            <table>
                <tr class="first"><th><label for="role">Allow Role</label></th><td>
                    <form class="all-in-one" id="add-role" method="POST">
                        <input type="text" value="" id="woker" name="role" placeholder="mTLS Role">
                        <a class="submit" href="javascript:sync_post('add-role', 'add-role')"><span class="fa-solid nomargin fa-plus"></span></a>
                    </form>
                </td></tr>
                <tr class="first"><td colspan="2">
                {{ range $role := .Service.TCP.RolesAllowed }}
                    <a class="submit" title="Click to delete upstream destination" href="javascript:context_post({'action':'remove-role', 'role':'{{ . }}'})"><span class="fa-solid fa-trash-can"></span>{{ . }}</a>
                {{ end }}
                </td></tr>
            </table>
        </div>
    </div>
{{ end }}
