{{ define "content" }}

    <div>
        <h2>Interface</h2>
        <form id="interface" method="POST">
        <table>
            <tr><th><label for="port">Port</label></th><td><input type="text" id="port" name="port" value="{{ .Service.Port }}"></td></tr>
            <tr><th><label for="mode">Mode</label></th><td>
                <select id="mode" name="mode">
                    <option {{ if eq .Service.Mode "HTTP" }} SELECTED {{ end }} >HTTP</option>
                    <option {{ if eq .Service.Mode "TCP" }} SELECTED {{ end }} >TCP</option>
                </select>
            </td></tr>
        </table>
        </form>
        <a class="submit" href="javascript:sync_post('interface', 'edit-interface')"><span class="fa-solid fa-save"></span>Save</a>
    </div>

    <div>
        <h2>Server TLS Profile</h2>
        <form id="interface" method="POST">
        <table>
            <tr><th><label>Serial Number</label></th><td>{{ .ServerSerial }}</td></tr>
            <tr><th><label>Common Name</label></th><td>{{ .ServerCN }}</td></tr>
            <tr><th><label>Expires</label></th><td><p style="background: linear-gradient(90deg, rgba(149,255,216,1) 0%, rgba(149,225,255,1) {{ .ServerAge }}%, rgba(240,240,240,1) {{ .ServerAge }}%); display:block; margin:0; padding:5px; text-align:center; border:1px solid rgba(0,0,0,0.2);">{{ .ServerExpires }}</p></td></tr>
            <tr><th><label>Renewal Due In</label></th><td>{{ .ServerRenewalDue }}</td></tr>
        </table>
        </form>
        <script>
            function rotate(cert){
                document.getElementById("wait-" + cert + "-img").className = "";
                document.getElementById("renew_" + cert + "_link").className = "HIDDEN";
                post('rotate-' + cert);
            }
        </script>
        <img width="42" height="42" id="wait-service-img" class="HIDDEN" src="/static/ring-wait.svg" >
        <a class="submit" id="renew_service_link" href="javascript:rotate('service')"><span class="fa-solid fa-save"></span>Rotate Now</a>
    </div>

    <div>
        <h2>Client TLS Persona</h2>
        <form id="interface" method="POST">
        <table>
            <tr><th><label>Serial Number</label></th><td>{{ .ClientSerial }}</td></tr>
            <tr><th><label>Common Name</label></th><td>{{ .ServiceAgentName }}</td></tr>
            <tr><th><label>Expires</label></th><td><p style="background: linear-gradient(90deg, rgba(149,255,216,1) 0%, rgba(149,225,255,1) {{ .Age }}%, rgba(240,240,240,1) {{ .Age }}%); display:block; margin:0; padding:5px; text-align:center; border:1px solid rgba(0,0,0,0.2);">{{ .Expires }}</p></td></tr>
            <tr><th><label>Renewal Due In</label></th><td>{{ .RenewalDue }}</td></tr>
        </table>
        </form>
        <img width="42" height="42" id="wait-client-img" class="HIDDEN" src="/static/ring-wait.svg" >
        <a class="submit" id="renew_client_link" href="javascript:rotate('client')"><span class="fa-solid fa-save"></span>Rotate Now</a>
    </div>

    <div>
        <h2>Origin Servers</h2>
        <table>
            <tr><th><label for="worker">Route To</label></th><td>
                <form class="all-in-one" id="add-worker" method="POST">
                    <input type="text" value="" id="woker" name="worker" placeholder="domain.com:port">
                    <a class="submit" href="javascript:sync_post('add-worker', 'add-worker')"><span class="fa-solid fa-plus"></span></a>
                </form>
            </td></tr>
            {{ range $worker := .Service.Upstream.Workers }}
            <tr><th>{{ . }}</th><td><a class="submit" title="Click to delete upstream destination" href="javascript:context_post({'action':'remove-worker', 'worker':'{{ . }}'})"><span class="fa-solid fa-trash-can nomargin"></span></a></td></tr>
            {{ end }}
        </table>
    </div>
{{ end }}
