{{ define "content" }}
<div>
    <h2>Provision mTLS Identity Perimeter For A Service</h2>
    <div class="spacer">
        <table>
            <tr class="first"><td>
                {{ if eq .Destination "" }}
                    <p>Before continuing please go through the prep check-list:</p>
                    <ul>
                        <li>Go to <a href="https://platform.identity.plus" target="_blank">Identity Plus Perimeter Controller Dashboard</a>, chose your organization and create a service mapping.</li>
                        <li>Configure the IP address of the the domain to point to this server: {{.Host_IP}}.
                            <ul>
                                <li>For your-service.your-org.mtls.app domains this is done at the "DNS" section of the service in the dashboard. </li>
                                <li>For custom domains you mush refer to your DNS hosting service.</li>
                                <li>Wait for the DNS to propagate and verify. </li>
                            </ul>
                        </li>
                        <li><a href="/download-ca">Download</a> and trust (install) the Identity Plus priavete CA (Certificate Authority) if you haven't already done so.</li>
                        <li>Grab an Autoprovisioning Token from the "Service Agents" section in the dashboard</li>
                        <li>Paste the token and click "Provision"</li>
                    </ul>
                    <script>
                        function async_post(){
                            document.getElementById("wait-img").className = "";
                            document.getElementById("submit-link").className = "HIDDEN";
                            document.getElementById("async_submit").submit();
                            document.getElementById("token").disabled = true;
                        }
                    </script>
                    <form class="all-in-one" id="async_submit" method="post">
                        <input type="text" name="token" id="token" value="" placeholder="Autoprovisioning Token">
                        <img width="42" height="42" id="wait-img" class="HIDDEN" src="/static/ring-wait.svg" >
                        <a class="submit" id="submit-link" href="javascript:async_post()"><span class="fa-solid fa-gears"></span> Provision</a>
                    </form>
                    <p class="error-msg">{{.Error}}</p>
                {{ else }}
                    <p class="ok-msg"><b>Success! {{.Destination}}</b> service route has been configured.</p>
                    <a class="submit" href="https://{{.Destination}}:{{.Port}}"><span class="fa-solid fa-lock"></span> Switch to {{.Destination}}</a>
                {{ end }}
            </td></tr>
        </table>
    </div>
</div>
{{ end }}
