{{ define "content" }}
<div>
    <h2>Provision mTLS Identity Perimeter for Service</h2>
    <table>
        <tr><td>
            {{ if eq .Destination "" }}
                <p>Please configure the service in the <a href="https://platform.identity.plus" target="_blank">Identity Plus Perimeter Controller Dashboard</a> and grab an Autoprovisioning Token to kickstart the integration.</p>
                <script>
                    function async_post(){
                        document.getElementById("wait-img").className = "";
                        document.getElementById("submit-link").className = "HIDDEN";
                        document.getElementById("async_submit").submit();
                        document.getElementById("token").disabled = true;
                    }
                </script>
                <form class="all-in-one" id="async_submit" method="post">
                    <input type="text" name="token" id="token" value="" placeholder="Autoprovisioning Token">
                    <img width="42" height="42" id="wait-img" class="HIDDEN" src="/static/ring-wait.svg" >
                    <a class="submit" id="submit-link" href="javascript:async_post()"><span class="fa-solid fa-gears"></span> Provision</a>
                </form>
                <p class="error-msg">{{.Error}}</p>
            {{ else }}
                <p class="ok-msg">-{{.Destination}}- service route has been configured. Initialization service will no exist, please switch over to the secure channel.</p>
                <a class="submit" href="https://{{.Destination}}:{{.Port}}"><span class="fa-solid fa-lock"></span> Continue over mTLS</a>
            {{ end }}
        </td></tr>
    </table>
</div>
{{ end }}
